html{
    scroll-behavior: smooth;
}
.Header{
    margin-top: 100px;
}
.Header .add {
    margin-top: 5px;
    margin-left: 80px;
}
.Header label{
    font-weight: bold;
}
#details{
    margin-top: 20px;
    color: darkred;
}
/******************************************/
.info {
    margin-top: 100px;
}
.info .card_info h3 , .info .card_info h5  ,.info .card_info button ,.info .card_info h6  {
margin: 20px 0px;
}